<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/profileStyles.css"/>
    <script src="/js/profile.js"></script>
</head>
<body>
    <div id="divBarMenu">
        <div id="divLogo">
            <img id="logoImg" src="https://i.pinimg.com/736x/d8/4c/50/d84c5091474284d693db4ea2e8701500--logo-inspiration-board-games.jpg" />
            <form class="form" action="#" th:action="@{/redirectProfile}" method="post">
                <input type="hidden" id="email" name="email" th:value='${pub.getEmail()}'/>
                <div class="divProfileButton">
                    <input type="submit" id="logoTitle" value=""/>
                </div>
            </form>
        </div>
        <div id="divAutentification">
            <form class="formIcons" action="#" th:action="@{/redirectProfile}" method="post">
                <input type="hidden" name="email" th:value='${pub.getEmail()}'/>
                <div class="icons">
                    <input type="submit" class="iconProfile" value=""/>
                </div>
            </form>
            <form class="formIcons" action="#" th:action="@{/notifications}" method="get">
                <input type="hidden" name="email" th:value='${pub.getEmail()}'/>
                <div class="icons">
                    <input type="submit" class="iconNotification" value=""/>
                </div>
            </form>
            <form class="formIcons" action="#" th:action="@{/logout}" method="get">
                <div class="icons">
                    <input type="submit" class="iconLogout" value=""/>
                </div>
            </form>
        </div>
    </div>
    <div id="divProfile">
        <div id="divProfilePicture">
            <img th:src="'/profilePhoto?email=' + ${pub.getEmail()}" class="roundedcorners"/>
        </div>
        <div id="divProfileInfo">
                <div id="divProfileName">
                    <label id="profileName" th:text="${pub.getName()}"/>
                </div>
                <form class="form" action="#" th:action="@{/editProfile}" method="post">
                    <input type="hidden" id="pub" name="pub" th:value='${pubString}'/>
                    <div class="divProfileButton">
                        <input id="profileButton" type="submit" value="Edit profile"/>
                    </div>
                </form>
            <div id="divProfileDetails">
                <div id="divProfilePhotos">
                    <label id="profilePhotos">63 photos</label>
                </div>
                <div id="divProfileAlbums">
                    <label id="profileAlbums">23 reservations</label>
                </div>
                <div id="divProfileComments">
                    <label id="profileComments">102 events</label>
                </div>
            </div>
            <div id="divProfileEmail">
                <label id="profileEmail" th:text="${pub.getEmail()}"/>
            </div>
        </div>
    </div>
    <div id="divOptions">
        <div class="options">
            <label id="optionPhotos" onclick="store()">Store</label>
        </div>
        <div class="options">
            <label id="optionAlbums" onclick="photos()">Photos</label>
        </div>
    </div>
    <div id="divMenu">
        <div id="divStore">
            <tr th:each="boardgame : ${boardgames}">
                <div class="divImg">
                    <img th:src="${boardgame.getPicture()}" class="imgPresentationHover"/>
                    <div class="middle">
                        <div class="text" th:text="${boardgame.getName()}"/>
                    </div>
                </div>
            </tr>
        </div>
        <div id="divPhotos">
            <tr th:each="picture : ${pictures}">
                <div class="divImg">
                    <img th:src="'/pubPicture?id=' + ${picture.getId()}" class="imgPresentation"/>
                </div>
            </tr>
        </div>
    </div>
</body>
</html>