<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/resetPassword.css"/>
    <script src="/js/resetPassword.js"></script>

</head>
<body>
<div id="divBarMenu">
    <div id="divLogo">
        <img id="logoImg" src="https://i.pinimg.com/736x/d8/4c/50/d84c5091474284d693db4ea2e8701500--logo-inspiration-board-games.jpg" />
        <img id="logoTitle" src="/images/logo.png"/>
    </div>
    <div id="divSearch">
        <input id="searchBar" type="text" placeholder="Search..." />
    </div>
    <div id="divAutentification">
        <label id="signUp">Sign Up</label>
        <label id="line">|</label>
        <label id="logIn" onclick="logIn()">Log In</label>
    </div>
</div>
<div id="divMenu">
    <div id="divEmpty">
    </div>
    <div id="divMenuReset">
        <div id="divResetTitle">
            <label id="resetTitle">Reset Password</label>
        </div>
        <div id="divResetInfo">
            <label id="resetInfo">We can help you reset your password using the email address linked to your account.</label>
        </div>
        <div id="divResetEmailLabel">
            <label id="resetEmailLabel">Email</label>
        </div>
        <div id="divResetEmailText">
            <input id="resetEmailText" type="text"/>
        </div>
        <div id="divResetMessage">
            <label id="resetMessage">The email is incorect</label>
        </div>
        <div id="divButtonReset">
            <input id="buttonReset" type="button" value="Reset Password" onclick="resetPassword()"/>
        </div>
    </div>
</div>
</body>
</html>

