<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/reservationStyle.css"/>
    <script src="/js/reservation.js"></script>
</head>
<body>
    <div id="divBarMenu">
        <div id="divLogo">
            <img id="logoImg" src="https://i.pinimg.com/736x/d8/4c/50/d84c5091474284d693db4ea2e8701500--logo-inspiration-board-games.jpg" />
            <form class="form" action="#" th:action="@{/redirectProfile}" method="post">
                <input type="hidden" id="email" name="email" th:value='${pub.getEmail()}'/>
                <div class="divProfileButton">
                    <input type="submit" id="logoTitle" value=""/>
                </div>
            </form>
        </div>
        <div id="divAutentification">
            <form class="formIcons" action="#" th:action="@{/redirectProfile}" method="post">
                <input type="hidden" name="email" th:value='${pub.getEmail()}'/>
                <div class="icons">
                    <input type="submit" class="iconProfile" value=""/>
                </div>
            </form>
            <form class="formIcons" action="#" th:action="@{/redirectProfile}" method="post">
                <input type="hidden" name="email" th:value='${pub.getEmail()}'/>
                <div class="icons">
                    <input type="submit" class="iconNotification" value=""/>
                </div>
            </form>
            <form class="formIcons" action="#" th:action="@{/logout}" method="get">
                <div class="icons">
                    <input type="submit" class="iconLogout" value=""/>
                </div>
            </form>
        </div>
    </div>
    <div id="divMenu">
        <div id="divLeft">


            <tr th:each="event : ${events}">
                <div class="reservation">
                    <div class="divUser">
                        <div class="profilePicture">
                            <img th:src="'/profilePhotoUser?id=' + ${event.getUserCreator().getId()}" class="roundedcorners"/>
                        </div>
                        <div class="profileInfo">
                            <div class="userprofile">
                                <label th:text="${event.getUserCreator().getName()}"/>
                            </div>
                            <div class="userprofile">
                                <label th:text="${event.getUserCreator().getEmail()}"/>
                            </div>
                        </div>
                    </div>
                    <div class="divPictureEvent">
                        <img src="/images/boardgames.jpg" />
                    </div>
                    <div>
                        <div class="divLabelInfo">
                            <label class="labelInfo">Event</label>
                        </div>
                        <div class="divTextInfo">
                            <label class="textInfo" th:text="${event.getTitle()}"/>
                        </div>
                        <div class="divLabelInfo">
                            <label class="labelInfo">Description</label>
                        </div>
                        <div class="divTextInfo">
                            <label class="textInfo" th:text="${event.getDescription()}"/>
                        </div>
                        <div class="divLabelInfo">
                            <label class="labelInfo">Players</label>
                        </div>
                        <div class="divTextInfo">
                            <label class="textInfo" th:text="${event.getUsers().size()} + 1"/>
                        </div>
                        <div class="divLabelInfo">
                            <label class="labelInfo">Board games</label>
                        </div>
                        <div class="divTextInfo">
                            <tr th:each="game : ${event.getBoardGames()}">
                                <label class="textInfo" th:text="${game.getName()}"/>
                                <label class="textInfo">,</label>
                            </tr>
                        </div>
                        <div class="divLabelInfo">
                            <label class="labelInfo">Date</label>
                        </div>
                        <div class="divTextInfo">
                            <label class="textInfo" th:text="${event.getDate().toString()}"/>
                        </div>
                        <div class="divLabelInfo">
                            <label class="labelInfo">Mesaj</label>
                        </div>
                        <div class="divTextInfo">
                            <textarea th:id="'message' + ${event.getId()}" class="textInfo" rows="20" cols="30"/>
                        </div>
                        <div>
                            <input class="button" th:id="'approve' + ${event.getId()}" type="button" th:onclick="'approve(' + ${event.getId()} + ')'" value="Approve"/>
                            <input class="button" th:id="'reject' + ${event.getId()}" type="button" th:onclick="'reject(' + ${event.getId()} + ')'" value="Reject"/>
                        </div>
                    </div>
                </div>
            </tr>
        </div>

        <div id="divRight">
            <div id="divProfile">
                    <div class="divProfilePicture">
                        <img th:src="'/profilePhoto?email=' + ${pub.getEmail()}" class="roundedcorners"/>
                    </div>
                    <div class="divProfileInfo">
                        <div class="profileLeft" id="divProfileName">
                            <label id="profileName" th:text="${pub.getName()}"/>
                        </div>
                        <div class="profileLeft" id="divProfileEmail">
                            <label id="profileEmail" th:text="${pub.getEmail()}"/>
                        </div>
                    </div>
            </div>
            <div id="divApprovedReservations">
                <tr th:each="reservation : ${reservations}">
                    <div class="approvedReservation">
                        <div class="divProfilePicture">
                            <img src="/images/boardgames.jpg" class="roundedcorners"/>
                        </div>
                        <div class="divProfileInfo">
                            <div class="profileLeft" >
                                <label th:text="${reservation.getUserCreator().getName()} + ' + ' + ${reservation.getUsers().size()}"/>
                            </div>
                            <div class="profileLeft" >
                                <label th:text="${reservation.getDate().toString()}"/>
                            </div>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
    </div>
</body>
</html>