<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/resetPassword.css"/>
    <script src="/js/reset.js"></script>

</head>
<body>
<div id="divMenu">
    <div id="divEmpty">
    </div>
    <div id="divMenuReset">
        <div id="divResetTitle">
            <label id="resetTitle">Reset Password</label>
        </div>
        <div id="divResetInfo">
            <label id="resetInfo">We can help you reset your password using the email address linked to your account.</label>
        </div>

        <form action="#" th:action="@{/changePasswordPub}" method="post" id="signUpForm">
            <div id="divResetEmailLabel">
                <label id="resetEmailLabel">Email</label>
            </div>
            <div id="divResetEmailText">
                <input id="resetEmailText" name="email" type="text"/>
            </div>
            <div class="divToken">
                <label class="Label">Token</label>
            </div>
            <div class="divInput">
                <input id="resetToken" name="token" type="text"/>
            </div>
            <div class="divToken">
                <label class="Label">Password</label>
            </div>
            <div class="divInput">
                <input id="resetPassword" name="password" type="password"/>
            </div>
            <div id="divButtonEmail">
                <input id="buttonSend" type="button" value="Send Email" onclick="sendEmail()"/>
            </div>
            <div id="divButtonReset">
                <input id="buttonReset" type="submit" value="Change password"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>

