#divLogo{
    float: left;
    width:350px;
    height: 100%;
    padding:21px 0;
    margin-left: 20%;
}
#divSearch{
    display: inline-block;
    padding:32px 0;
}
#divAutentification{
	width: 300px;
    float:right;
    padding:38px 0;
    margin-right: 17%;
}
#divBarMenu{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: white;
    border-bottom: thin solid #CDCECF;
    position: fixed;
    top: 0;
    z-index: 1;
}

#logoImg {
	height: 55%;
	float: left;
	display: inline-block;
}

#logoTitle{
    padding: 23px 115px;
    background: url('/images/logo.png') no-repeat;
    background-size: 220px 55px;
    display: inline-block;
    float: left;
    margin-left: -40px;
    border:none;
}

#searchBar{
    height:25px;
    width:260px;
    text-align:center;
    padding: 3px;
    background-color: #FBF6F6;
    border: thin solid #CDCECF;
}

.icons {
    width:50px;
    display: inline-block;
}

.iconProfile{
    padding: 16px 16px;
    background: url('/images/profile.png') no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    border:none;
}

.iconNotification{
    padding: 16px 16px;
    background: url('/images/notification.png') no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    border:none;
}

.iconLogout{
    padding: 16px 16px;
    background: url('/images/logout.png') no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    border:none;
}


.formIcons{
    width: 51px;
    display: inline-block;
    margin-left:20px;
}

.form{
    display:inline-block;
}

html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    background: url(/images/photo1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}


#divMenu{
    width:750px;
    height: 650px;
    display: block;
    margin: auto;
    margin-top: 180px;
}


#divLeft{
	width:600px;
    height:100%;
    border: thin solid #CDCECF;
    display: inline-block;
    float:left;
}

#divRight{
	width:300px;
    height: 100%;
    display: inline-block;
    float:right;
    position: fixed;
}

.roundedcorners {
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

#divProfile{
    padding-top: 10px;
    height: 70px;
    border-bottom: thin solid #CDCECF;
}


.divProfilePicture{
    display:inline-block;
    float:left;
    width: 70px;
    height: 100px;
}

.profilePicture{
    display:inline-block;
    float:left;
    width: 70px;
    height: 60px;
}

.divProfileInfo{
    display:inline-block;
    float:right;
    width: 220px;
    height: 100px;
}

.profileInfo{
    display:inline-block;
    text-align:left;
    float:left;
    width: 390px;
    height: 60px;
}

.profileLeft{
    padding:3px;
    float:left;
    display:block;
}

.userprofile{
    padding:3px;
    text-align:left;
}

#profileName{
    font-size:20px;
}

#divApprovedReservations{
     white-space: nowrap; /* important */
     overflow: auto;
     height: 300px;
     width:317px;
}

.approvedReservation{
    display:block;
}


.divLabelInfo{
    width:200px;
    text-align:left;
    margin-right:50px;
    margin-left:30px;
}

.labelInfo{
    font-size:20px;
    font-weight: bold;
}

.divTextInfo{
    display:inline-block;
    width: 350px;
    text-align:left;
    position: relative;
    bottom: 22.5px;
    left: 75px;
}

.textInfo{
    height:30px;
    width:100%;
    font-size:20px;
}

.reservation{
    padding:40px;
}

#divUser{
    border-bottom: thin solid #CDCECF;
    overflow:hidden;
}

.pictureEvent{
    width: 450px;
    height: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.divPictureEvent{
    margin-bottom: 30px;
}

.button{
	background-color: #2196F3;
    width: 100px;
    margin: 30px;
    margin-bottom: 0px;
    height: 30px;
    font-size: 16px;
    color:white;
    cursor: pointer;
}
.button:hover {
	background: #0b7dda;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.reservation{
    background-color: white;
    margin-bottom: 120px;
    border: thin solid #CDCECF;
}